

nav>.sf-menu {
	z-index: 990;
	position: relative;
	text-align: left;
}

nav { 
	margin: 0;
	position:relative;
	padding: 0;
	height: 54px;
}

.sf-menu ul { 
	position:absolute; 
	top:-999px; 
	display:none;
}

.sf-menu li {
	display: inline-block;
	position: relative;
	text-transform: uppercase;
	padding: 13px 0 16px;
}

.sf-menu>li+li {margin-left: 56px;}

.sf-menu>li+li:after {
	content: "";
	position: absolute;
	top: 24px;
	left: -33px;
	width: 6px;
	height: 6px;
	background: #2bbab4;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.sf-menu>li>ul>li {
  	float: none;
  	position: static;
}

.sf-menu>li>a{
	display: inline;
	text-align: center;
	position: relative;
	color: #fff;
	font: 400 15px/25px 'Ubuntu', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0;
}

.sf-menu>li>a:hover,
.sf-menu>li.current>a {
	position: relative;
	text-decoration: underline;
	color: #d9f8f3;
}

.sf-menu>li>.sf-with-ul:after {

}

/*================================>> 2 Level <<========================================*/

.sf-menu li ul{
	position: absolute;
	z-index: 999;
	top: 55px;
	left: -27px;
	padding: 0 0 1px;
	width: 102px;
	background: #0c6b63;
	text-align: center;
}

.sf-menu li ul li{
	position: relative;
	display: block;
	text-align: center;
	float: none !important;
	padding: 2px 0 4px;
	cursor: default;
}

.sf-menu li ul li+li {border-top: 1px dotted #98cdc9;}

.sf-menu li ul li a{
	position: relative;
	text-transform: uppercase;
	z-index: 999;
	display: inline;
	color: #fff;
	font: 400 13px/14px 'Ubuntu', sans-serif;
	text-decoration: none;
}

.sf-menu>li>ul>li>a.sf-with-ul:after {

}

.sf-menu li li a:hover, 
.sf-menu li li>a {  
	color: #000;
	text-decoration: none;
}

/*================================>> 3 Level <<========================================*/

.sf-menu li li ul{
	position: absolute;
	left: 103px;
	top: 0px;
	background: #0c6b63;
	padding: 0;
	width: 102px;
}

.sf-menu li li ul li+li {
	border-top: 1px dotted #98cdc9;
}

.sf-menu li li ul li a {
	color: #fff;
	padding-right: 0;
}

.sf-menu li li ul li a:hover {
	color: #000;
	text-decoration: none;
}

/*==================================RESPONSIVE LAYOUTS===============================================*/

@media only screen and (max-width: 1199px) {
	

}

@media only screen and (max-width: 995px) {
	
	nav > .sf-menu {text-align: center;}

}

@media only screen and (max-width: 767px) {

  	header nav{
  		border: none !important;
		float:none !important;
		font:12px/15px Arial, Helvetica, sans-serif;
		text-transform:uppercase;
		color:#927c67;
		margin: 0 auto;	
	}	

  	header nav ul {border: none;}

	.sf-menu{
		visibility: hidden; 
		float: none;
	}

	#mm1 {
		display: none;
		visibility: hidden;
	}
	#mm0{
		font: 400 13px/15px 'Ubuntu';
		background: #d6fbf9;
		color:#096f67;
		width:100%;
		margin: 17px auto 19px;
		float: none;
        outline: none;
		border:2px solid #d6fbf9;
		padding: 2px 0;
		-webkit-border-radius: 13px;
		-moz-border-radius: 13px;
		border-radius: 13px;
	}

}

@media only screen and (max-width: 480px) {


}
